[profile.default]
src = "src"
out = "out"
libs = ["lib"]
extra_output_files = ["metadata"]
fs_permissions = [
  { access = "read", path = "./scripts/" },
  { access = "read-write", path = "./artifacts/" },
]

# solidity compiler
solc = "0.8.22"

# Increase optimizer_runs
optimizer = true
optimizer-runs = 1_000

[fuzz]
# Fuzz more than the default 256
runs = 1_000
